@import "./variables.css";

body {
  overflow-y: scroll;
  /* height: 100vh; */
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body.light {
  background-color: var(--bg-light);
  color: var(--font-color-light);
}

body.dark {
  background-color: var(--bg-dark);
  color: var(--font-color-dark);
}
div#root {
  /* height: 100vh; */
  width: 100vw;
}

/* style scrollbar for Chrome, Safari and Opera */
::-webkit-scrollbar {
  display: none;
  width: 10px;
}

/* Hide scrollbar for IE, Edge and Firefox */
::-webkit-scrollbar {
  /* IE and Edge */
  -ms-overflow-style: none;
  /* Firefox */
  scrollbar-width: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: inherit;
  -webkit-text-fill-color: gray;
  background-color: rgba(0, 0, 0, 0) !important;
  -webkit-box-shadow: inherit;
  transition: background-color 5000s ease-in-out 0s;
}

* {
  transition: color var(---trans-theme), background-color var(---trans-theme);
}
