@import "./variables.css";

/* movies  */
/*  movies list wrapper */
.content-wrapper {
  text-align: center; /* center all the contnets */
  padding: 10px 0px 20px 0px;
}

.content-wrapper.light {
  background-color: var(--bg-light);
}

.content-wrapper.dark {
  background-color: var(--bg-dark);
}

.content {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 0px 10px 0px 0px;
  margin: 0;
  z-index: 0;
  /* font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif; */
}

.error-message {
  text-align: center;
  color: rgb(176, 42, 69);
  font-weight: bold;
  font-family: "Courier New", Courier, monospace;
  margin-top: 100px;
}
