@import "./variables.css";

/* movies  */
/* just a wraper to  */
.movies {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 0px 10px 0px 0px;
  margin: 0;
  z-index: 0;
  /* font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif; */
}

/* Movie Box structure */
/* in px only

Height = ?

     ##################################
     #                                #  
     # <- (Width = Height X 0.635) -> #
     #                                #
     #      #- Movie Poster -#        #
     #  Height = Height x 0.8735      #
     #                                #
     #                                #
     #                                #
     #                                #
     #                                #
     #                                #
     #                                #
     ##################################
     #    #- Title Box -#             #      
     #  Height = Height x 0.127       #
     #                                #
     ##################################
*/

/* movie box */
/* box */
.movie-box {
  display: flex;
  flex-direction: column;
  justify-content: normal;
  align-items: center;
  flex-wrap: wrap;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border: 0px solid;
  position: relative;
  overflow: hidden;
  border-radius: 6px 6px 3px 3px;
  z-index: 1;
  width: 200px;
  height: 315px; /* 275px img width + 40px for title */
  margin: 10px 7px 10px 7px;
}

.movie-box.light {
  background-color: var(--ui-elemnet-light);
  color: var(--font-color-light);
  box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 8px 0 rgba(0, 0, 0, 0.19);
}

.movie-box.dark {
  background-color: var(--ui-elemnet-dark);
  color: var(--font-color-dark);
  box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.18), 0 6px 8px 0 rgba(0, 0, 0, 0.167);
}

/* movie poster */
.movie-box .movie-poster .poster-img,
.movie-box .movie-poster .movie-poster-backdrop {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 275px; /* movie-box width 40px */
  overflow: hidden;
  position: absolute;
  border-radius: 6px 8px 0 0;
  right: 0px;
}

.movie-box .movie-poster .movie-poster-backdrop {
  opacity: 0.3;
  z-index: 0;
}

.movie-box .movie-poster .poster-img {
  z-index: 1;
}

.movie-poster .poster-img img {
  width: inherit;
  height: inherit;
}

/* titile */
.movie-box .movie-title {
  bottom: 0px;
  right: 0px;
  padding: 6px 3px 2px 5px;
  height: 40px;
  width: 200px;
  position: absolute;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
  z-index: 2;
  font-weight: 300;
  font-size: medium;
  font-family: "Courier New", Courier, monospace;
}

.movie-box.light .movie-title {
  /* color: #5107c0; */
  color: var(--movie-box-title-light);
  background-color: var(--movie-box-title-bg-light);
  border-top: 3px solid var(--movie-box-title-light);
}

.movie-box.dark .movie-title {
  color: var(--movie-box-title-dark);
  background-color: var(--movie-box-title-bg-dark);
  border-top: 3px solid var(--movie-box-title-dark);
}

/* movie info */
.movie-box .movie-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
  padding: 10px;
  font-weight: 400;
  font-size: 14px;
  border-radius: 5px 5px 0 0;
  z-index: 2;
  opacity: 0;
  width: 200px;
  height: 275px;
}

/* movie Year */
.movie-box .movie-year {
  position: absolute;
  font-weight: 500;
  font-size: 14px;
  bottom: 40px;
  left: 0px;
  height: 20px;
  width: 40px;
  display: flex;
  flex-wrap: wrap;
  border-radius: 0px 5px 0px 0px;
  padding: 2px;
  align-items: center;
  align-content: center;
  justify-content: space-evenly;
  z-index: 3;
}

.movie-box.light .movie-year {
  color: var(--font-color-light);
  background-color: var(--ui-elemnet-light);
}

.movie-box.dark .movie-year {
  color: var(--font-color-dark);
  background-color: var(--ui-elemnet-dark);
}

/* movie Ratting */
.movie-box .movie-ratting {
  position: absolute;
  font-weight: 500;
  font-size: 14px;
  bottom: 40px;
  right: 0px;
  height: 20px;
  width: 35px;
  display: flex;
  flex-wrap: wrap;
  border-radius: 5px 0px 0px 0px;
  padding: 2px;
  align-items: center;
  align-content: center;
  justify-content: space-evenly;
  z-index: 3;
}

.movie-box.light .movie-ratting {
  color: var(--font-color-light);
  background-color: var(--ui-elemnet-light);
}

.movie-box.dark .movie-ratting {
  color: var(--font-color-dark);
  background-color: var(--ui-elemnet-dark);
}

.movie-box .north-east-block {
  position: absolute;
  font-weight: 500;
  font-size: 14px;
  top: 0;
  right: 0;
  width: 20px;
  display: flex;
  flex-wrap: wrap;
  border-radius: 5px 0px 5px 5px;
  padding: 0px;
  align-items: center;
  justify-content: center;
  z-index: 3;
  align-content: center;
}
/* movie title-type */
/* .movie-box .movie-title-type {
  height: 20px;
  width: 20px;
  padding: 1px;
} */

.movie-box.light .north-east-block {
  color: var(--font-color-light);
  background-color: var(--ui-elemnet-light);
}

.movie-box.dark .north-east-block {
  color: var(--font-color-dark);
  background-color: var(--ui-elemnet-dark);
}

/* movie star */
/* .movie-box .movie-star {
  position: absolute;
  font-weight: 500;
  font-size: 22px;
  top: 30px;
  right: 0;
  height: 28px;
  width: 30px;
  display: flex;
  flex-wrap: wrap;
  border-radius: 2px;
  padding: 1px;
  align-items: center;
  align-content: center;
  justify-content: space-evenly;
  z-index: 3;
}

.movie-box.light .movie-star {
  color: var(--font-color-light);
  background-color: var(--ui-elemnet-light);
}

.movie-box.dark .movie-star {
  color: var(--font-color-dark);
  background-color: var(--ui-elemnet-dark);
} */

/* for 530px screens and below */
@media (max-width: 530px) {
  /* movie box */
  .movie-box {
    /* margin-top: 10px; */
    /* margin-right: 10px; */
    width: 178px;
    height: 280px;
  }

  /* movie poster */
  .movie-box .movie-poster .poster-img,
  .movie-box .movie-poster .movie-poster-backdrop {
    width: 178px;
    height: 245px;
  }

  .movie-box .movie-title {
    padding: 5px 3px 2px 5px;
    height: 35.5px;
    width: 178px;
    font-size: small;
  }

  .movie-box .movie-info {
    width: 178px;
    height: 245px;
  }

  .movie-box .movie-year {
    font-size: 12px;
    bottom: 35.5px;
    height: 17px;
    width: 35.5px;
  }

  .movie-box .movie-ratting {
    font-size: 12px;
    bottom: 35.5px;
    height: 17px;
    width: 25px;
  }
}

/* for 530px screens and below */
@media (max-width: 530px) {
  /* movie box */
  .movie-box {
    /* margin-top: 10px; */
    /* margin-right: 10px; */
    width: 178px;
    height: 280px;
  }

  /* movie poster */
  .movie-box .movie-poster .poster-img,
  .movie-box .movie-poster .movie-poster-backdrop {
    width: 178px;
    height: 245px;
  }

  .movie-box .movie-title {
    padding: 5px 3px 2px 5px;
    height: 35.5px;
    width: 178px;
    font-size: small;
  }

  .movie-box .movie-info {
    width: 178px;
    height: 245px;
  }

  .movie-box .movie-year {
    font-size: 12px;
    bottom: 35.5px;
    height: 17px;
    width: 35.5px;
  }

  .movie-box .movie-ratting {
    font-size: 12px;
    bottom: 35.5px;
    height: 17px;
    width: 25px;
  }
}

/* for 485px screens and below */
@media (max-width: 485px) {
  /* movie box */
  .movie-box {
    width: 162.5px;
    height: 256px;
  }

  /* movie poster */
  .movie-box .movie-poster .poster-img,
  .movie-box .movie-poster .movie-poster-backdrop {
    width: 162.5px;
    height: 223.6px;
  }

  .movie-box .movie-title {
    padding: 5px 3px 2px 5px;
    height: 32.5px;
    width: 162.5px;
    font-size: small;
  }

  .movie-box .movie-info {
    width: 162.5px;
    height: 223.6px;
  }

  .movie-box .movie-year {
    font-size: 12px;
    bottom: 32.5px;
    height: 17px;
    width: 35.5px;
  }

  .movie-box .movie-ratting {
    font-size: 12px;
    bottom: 32.5px;
    height: 17px;
    width: 25px;
  }
}

/* for 455px screens and below */
@media (max-width: 455px) {
  /* movie box */
  .movie-box {
    width: 145px;
    height: 229px;
  }

  /* movie poster */
  .movie-box .movie-poster .poster-img,
  .movie-box .movie-poster .movie-poster-backdrop {
    width: 145px;
    height: 200px;
  }

  .movie-box .movie-title {
    padding: 5px 3px 2px 5px;
    height: 29px;
    width: 145px;
    font-size: 12px;
  }

  .movie-box .movie-info {
    width: 145px;
    height: 200px;
  }

  .movie-box .movie-year {
    font-size: 10px;
    bottom: 29px;
    height: 15px;
    width: 29px;
  }

  .movie-box .movie-ratting {
    font-size: 10px;
    bottom: 29px;
    height: 15px;
    width: 23px;
  }
}

/* for 420px screens and below */
@media (max-width: 420px) {
  /* movie box */
  .movie-box {
    width: 134.5px;
    height: 212.5px;
  }

  /* movie poster */
  .movie-box .movie-poster .poster-img,
  .movie-box .movie-poster .movie-poster-backdrop {
    width: 134.5px;
    height: 185.6px;
  }

  .movie-box .movie-title {
    padding: 4px 3px 2px 5px;
    height: 27px;
    width: 134.5px;
    font-size: 12px;
  }

  .movie-box .movie-info {
    width: 134.5px;
    height: 185.6px;
  }

  .movie-box .movie-year {
    font-size: 10px;
    bottom: 27px;
    height: 15px;
    width: 27px;
  }

  .movie-box .movie-ratting {
    font-size: 10px;
    bottom: 27px;
    height: 15px;
    width: 23px;
  }
}

/* for 389px screens and below */
@media (max-width: 389px) {
  /* movie box */
  .movie-box {
    width: 119px;
    height: 189px;
    margin: 5px;
  }

  /* movie poster */
  .movie-box .movie-poster .poster-img,
  .movie-box .movie-poster .movie-poster-backdrop {
    width: 119px;
    height: 165px;
  }

  .movie-box .movie-title {
    padding: 3px 3px 2px 5px;
    height: 24px;
    width: 119px;
    font-size: 10px;
  }

  .movie-box .movie-info {
    width: 119px;
    height: 165px;
  }

  .movie-box .movie-year {
    font-size: 10px;
    bottom: 24px;
    height: 15px;
    width: 29px;
  }

  .movie-box .movie-ratting {
    font-size: 10px;
    bottom: 24px;
    height: 15px;
    width: 23px;
  }
}

/* for 360px screens and below */
@media (max-width: 359px) {
  /* movie box */
  .movie-box {
    width: 109.5px;
    height: 172px;
  }

  /* movie poster */
  .movie-box .movie-poster .poster-img,
  .movie-box .movie-poster .movie-poster-backdrop {
    width: 109.5px;
    height: 150px;
  }

  .movie-box .movie-title {
    padding: 3px 3px 2px 5px;
    height: 22px;
    width: 109.5px;
    font-size: 10px;
  }

  .movie-box .movie-info {
    width: 109.5px;
    height: 150px;
  }

  .movie-box .movie-year {
    font-size: 10px;
    bottom: 22px;
    height: 15px;
    width: 29px;
  }

  .movie-box .movie-ratting {
    font-size: 10px;
    bottom: 22px;
    height: 15px;
    width: 23px;
  }
}

/* for 339px screens and below */
@media (max-width: 339px) {
  /* movie box */
  .movie-box {
    width: 109.5px;
    height: 172px;
  }

  /* movie poster */
  .movie-box .movie-poster .poster-img,
  .movie-box .movie-poster .movie-poster-backdrop {
    width: 110px;
    height: 150px;
  }

  .movie-box .movie-title {
    padding: 3px 3px 2px 5px;
    height: 22px;
    width: 109.5px;
    font-size: 10px;
  }

  .movie-box .movie-info {
    width: 109.5px;
    height: 150px;
  }

  .movie-box .movie-year {
    font-size: 10px;
    bottom: 22px;
    height: 15px;
    width: 29px;
  }

  .movie-box .movie-ratting {
    font-size: 10px;
    bottom: 22px;
    height: 15px;
    width: 23px;
  }
}

/* for 338px screens and below */
@media (max-width: 320px) {
  /* movie box */
  .movie-box {
    width: 101px;
    height: 156px;
    margin: 5px;
  }

  /* movie poster */
  .movie-box .movie-poster .poster-img,
  .movie-box .movie-poster .movie-poster-backdrop {
    width: 101px;
    height: 136px;
  }

  .movie-box .movie-title {
    padding: 1px 3px 1px 3px;
    height: 20px;
    width: 101px;
    font-size: 10px;
  }

  .movie-box .movie-info {
    width: 101px;
    height: 136px;
  }

  .movie-box .movie-year {
    font-size: 10px;
    bottom: 20px;
    height: 12px;
    width: 29px;
  }

  .movie-box .movie-ratting {
    font-size: 10px;
    bottom: 20px;
    height: 12px;
    width: 23px;
  }
}

@media (hover: hover) and (pointer: fine) {
  .movie-box:hover {
    scale: 1.1;
  }

  /* .movie-box.light .movie-info:hover {
    opacity: 0.9;
    color: var(--font-color-light);
    background-color: var(--ui-elemnet-light);
  }

  .movie-box.dark .movie-info:hover {
    opacity: 0.9;
    color: var(--font-color-dark);
    background-color: var(--ui-elemnet-dark);
  } */
}
