@import './variables.css';

.movie-overlay {
    display: flex;
    position: fixed;
    align-items: center;
    width: calc(100vw - 40px);
    height: calc(100vh - 60px);
    z-index: 999;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    top: 30px;
    left: 20px;
    padding: 1px;
    border-radius: 10px;
}

.movie-overlay.light {
    background-color: var(--movie-modal-bg-light);
}
.movie-overlay.dark {
    background-color: var(--movie-modal-bg-dark);
}

.movie-modalContainer {
   overflow: scroll;
   width: inherit;
   display: flex;
   flex-direction: column;
   /* background-color: aliceblue; */
   box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
   border-radius: inherit;
   padding: 10px 3px 4px 3px;
}

.movie-overlay .closeBtn{
    width: 50px;
    height: 50px;
    border-radius: 25px;
    position: fixed;
    right: 5px;
    top: 15px;
    text-align: center;
    padding: 4px;
    font-size: 30px;
    color: #fff;
    background-color: #dc143c;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
}

/* .movie-overlay.light .closeBtn {
    color: var(--font-color-dark);
    background-color: var(--movie-modal-bg-dark);
}
.movie-overlay.dark .closeBtn {
    color: var(--font-color-light);
    background-color: var(--movie-modal-bg-light);
} */

.movie-overlay .open-newTab{
    width: 45px;
    height: 45px;
    border-radius: 10px;
    position: absolute;
    left: 10px;
    top: 10px;
    text-align: center;
    padding: 7px 5px;
    z-index: 1;
    
}

.movie-overlay.light .open-newTab,
.movie-overlay.light .open-newTab a{
    color: var(--font-color-dark);
    background-color: var(--movie-modal-bg-dark);
    text-decoration: none;
}
.movie-overlay.dark .open-newTab,
.movie-overlay.dark .open-newTab a {
    color: var(--font-color-light);
    background-color: var(--movie-modal-bg-light);
    text-decoration: none;
}


@media (max-width:460px) {
    .movie-overlay .open-newTab {
        top: 80px;
    }
}