@import "./variables.css";

.logger {
  font-family: monospace;
  font-size: 14px;
  margin-top: 30px;
  padding: 10px;
  border-radius: 5px;
  overflow-y: scroll;
  height: 300px;
}

.logger.light {
  background-color: var(--ui-elemnet-light);
  color: var(--font-color-light);
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}

.logger.dark {
  background-color: var(--ui-elemnet-dark);
  color: var(--font-color-dark);
  box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.258);
}

.logger-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 10px;
}

.logger-header.light {
  border-bottom: 1px solid var(--font-color-light);
}

.logger-header.dark {
  border-bottom: 1px solid var(--font-color-dark);
}

.logger-title {
  font-weight: bold;
}

.logger-title.light {
  color: var(--font-color-light);
}

.logger-title.dark {
  color: var(--font-color-dark);
}

.logger-body {
  margin-top: 10px;
}

.logger-line {
  margin: 0;
  margin-bottom: 5px;
  text-align: left;
}

.logger-line::before {
  content: "$ ";
  color: #50fa7b;
}

.logger-line.light::before {
  color: #7a50ee;
}
