:root{
    /* light theme */
    /* --bg-light : #EEEEEE; */
    --bg-light : #f8f6f6;
    /* --font-color-light : #555555; */
    --font-color-light : #383838;
    --ui-elemnet-light : #DDDDDD;
    /* --ui-elemnet-light : #dddcdc; */
    --movie-box-title-light : #191970;
    --movie-box-title-bg-light: rgba(215, 215, 215, 0.495) ;
    /* hsf = Header Sidebar Footer */
    /* --hsf-bg-light : rgb(167, 162, 162);  */
    --hsf-bg-light : var(--bg-light);
    /* movie-overlay */
    --movie-modal-bg-light : rgba(255, 255, 255, 0.9);
    --seasons-bg-light : rgba(255, 255, 255, 0);



    /* dark theme */
    /* --bg-dark  : #292929; */
    --bg-dark  : #101010;
    --font-color-dark : #DDDDDD;
    --ui-elemnet-dark : #333333;
    --movie-box-title-dark : #DADBDD;
    --movie-box-title-bg-dark: rgba(20, 20, 20, 0.842) ;
    /* hsf = Header Sidebar Footer */
    /* --hsf-bg-dark : #100f0f;  */
    --hsf-bg-dark : var(--bg-dark);
    /* movie-overlay */
    --movie-modal-bg-dark : rgba(0, 0, 0, 0.9);
    --seasons-bg-dark : rgba(0, 0, 0, 0);




    /* Transitions */
    ---trans-theme : 0.5s ease-out;
    ---tran-02: all 0.5 ease;
    ---tran-03: all 0.5 ease;
    ---tran-04: all 0.5 ease;
    ---trans-sidebar-toggle: 0.8s ease-out;
    ---trans-container-margin : 0.8s ease;
    ---hover-movies : 1.5s ease;

}
