MOVIEBUNKERS_API=http://localhost:3001/api
MOVIEBUNKERS_IMAGES=http://localhost:3001/images
TMDB_API_WRAPPER=http://localhost:3010/tmdb
GUEST_USERNAME=guest
GUEST_PASSWORD=guestpassword
NODE_ENV=production