REACT_APP_TMDB_API=1010cbcbe4825ee*****************
REACT_APP_TMDB_API_URL=https://api.themoviedb.org/3/
REACT_APP_TMDB_API_IMAGES_URL=https://image.tmdb.org/t/p/
REACT_APP_TMDB_API_LANGUAGE=en-US
REACT_APP_TMDB_API_REGION=IN
PORT=3000
GENERATE_SOURCEMAP=false

# 

REACT_APP_MOVIEBUNKERS_API=http://localhost:3001/api
REACT_APP_TMDB_API_WRAPPER=http://localhost:3010/tmdb
NODE_ENV=production