NEXT_PUBLIC_MOVIEBUNKERS_API=http://localhost:3001/api
NEXT_PUBLIC_MOVIEBUNKERS_IMAGES=http://localhost:3001/images
NEXT_PUBLIC_TMDB_API_WRAPPER=http://localhost:3010/tmdb
NODE_ENV=production
NEXTAUTH_SECRET=
NEXTAUTH_URL=