@import "assets/styles/variables.css";

.youtube-player-modal {
  position: fixed;
  border: none;
  top: 50%;
  left: 50%;
  /* width: 420px;
  height: 260px; */
  padding: 40px;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  border-radius: 10px;
  z-index: 999;
}

.youtube-player-modal .close-btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 25px;
  position: absolute;
  right: 15px;
  top: 15px;
  z-index: 999;
  text-align: center;
  padding: 4px;
  font-size: 30px;
  cursor: pointer;
  color: #ffffff;
  background-color: crimson;
  box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.18), 0 6px 8px 0 rgba(0, 0, 0, 0.167);
}
