@import "assets/styles/variables.css";

.link-modal {
  display: flex;
  flex-direction: row-reverse;
  position: fixed;
  padding: 5px;
  border-radius: 25px;
  width: 90%;
  height: 90%;
  max-width: 640px;
  max-height: 640px;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.2), 0 2px 3px 0 rgba(0, 0, 0, 0.19);
}

.link-modal.light {
  background-color: var(--bg-light);
  color: var(--font-color-light);
}

.link-modal.dark {
  background-color: var(--bg-dark);
  color: var(--font-color-dark);
}

.link-modal .closeBtn {
  width: 50px;
  height: 50px;
  border-radius: 25px;
  position: absolute;
  text-align: center;
  padding: 4px;
  font-size: 30px;
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  z-index: 999;
  background-color: crimson;
  color: #ffffff;
  box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 8px 0 rgba(0, 0, 0, 0.19);
}
