@import "assets/styles/variables.css";

.title-poster {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: 0px solid;
  position: relative;
  overflow: hidden;
  border-radius: 5px;
  z-index: 1;
  width: 300px;
  height: 450px;
  margin: 2px 7px 10px 7px;
}

.title-poster.light {
  background-color: var(--ui-element-light);
  color: var(--font-color-light);
  box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 8px 0 rgba(0, 0, 0, 0.19);
}

.title-poster.dark {
  background-color: var(--ui-element-dark);
  color: var(--font-color-dark);
  box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.18), 0 6px 8px 0 rgba(0, 0, 0, 0.167);
}

.title-poster .title-poster-backdrop,
.title-poster .title-poster-img {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: inherit;
  height: inherit;
  overflow: hidden;
  position: absolute;
  right: 0px;
}

.title-poster .title-poster-backdrop {
  opacity: 0.3;
  z-index: 0;
}

.title-poster .title-poster-img {
  z-index: 1;
}

.title-poster .title-poster-img img {
  width: inherit;
  height: inherit;
  opacity: 0;
  transition: opacity 0.8s ease-in-out;
}

.title-poster .title-poster-img img[data-loading="true"] {
  opacity: 0;
}

.title-poster .title-poster-img img[data-loading="false"] {
  opacity: 1;
}

.title-poster .title-poster-backdrop i,
.title-poster .title-poster-img i {
  position: absolute;
}

.title-tagline {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: 0px solid;
  position: relative;
  overflow: hidden;
  z-index: 1;
  width: inherit;
  padding: 5px;
  margin: 0px 7px 10px 7px;
  font-style: italic;
}

.title-tagline.light {
  color: var(--font-color-light);
}

.title-tagline.dark {
  color: var(--font-color-dark);
}
