/** 
 *	#########################################################
 *  										 									
 *      @author : charanteja379                                 			
 *      @email  : charanteja379@gmail.com                                  
 *  	@createedOn : 2023-01-10 23:15:35                               
 *      @lastModifiedOn : 2023-01-13 11:01:19
 *  	@desc   : [description]							
 *  										 								
 *  #########################################################
 */
 
:root{
    /* light theme */
    --bg-light : #EEEEEE;
    --font-color-light : #555555;
    --ui-elemnet-light : #DDDDDD;
    --hsf-bg-light : rgb(167, 162, 162); /* hsf = Header Sidebar Footer */
    /* dark theme */
    --bg-dark  : #292929;
    --font-color-dark : #DDDDDD;
    --ui-elemnet-dark : #333333;
    --hsf-bg-dark : #100f0f; /* hsf = Header Sidebar Footer */

    /* Transitions */
    ---trans-theme : 1s ease-out;
    ---tran-02: all 0.5 ease;
    ---tran-03: all 0.5 ease;
    ---tran-04: all 0.5 ease;
    ---trans-sidebar-toggle: 0.8s ease-out;
    ---trans-container-margin : 0.8s ease;
    ---hover-movies : 1.5s ease;

}
