@import "assets/styles/variables.css";

.watch-providers {
  transition: 0.5s;
}

.watch-providers a {
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  margin: 5px 10px 5px 10px;
  width: 55px;
  height: 55px;
  border-radius: 10px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: space-between;
}

.watch-providers .watch-provider {
  text-decoration: none;
  margin: 5px 5px 5px 10px;
  width: 55px;
  height: 55px;
  border-radius: 10px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 4px 0 rgba(0, 0, 0, 0.19);
}
