@import "assets/styles/variables.css";

.episode-card {
  display: grid;
  padding: 10px;
  grid-template-columns: 1fr;
  grid-column-gap: 5px;
  grid-row-gap: 10px;
  grid-template-areas:
    "poster-section"
    "details-section";
  width: -webkit-fill-available;
  max-width: 340px;
  max-height: 580px;
  border-radius: 10px;
  margin-bottom: 10px;
  align-items: center;
  transition: scale 0.5s ease-in-out, color 0.1s ease-in,
    background-color 0.1s ease-in;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.2), 0 2px 3px 0 rgba(0, 0, 0, 0.19);
}

.episode-card.light {
  background-color: var(--ui-elemnet-light);
  color: var(--font-color-light);
}

.episode-card.dark {
  background-color: var(--ui-elemnet-dark);
  color: var(--font-color-dark);
}

.episode-card .poster-section {
  grid-area: poster-section;
  height: max-content;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-evenly;
}

.episode-card .details-section {
  grid-area: details-section;
  width: -webkit-fill-available;
  overflow: scroll;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
}

.episode-card .episode-details {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-around;
  align-content: flex-start;
  width: -webkit-fill-available;
}

.episode-card .episode-details h4 span {
  font-size: small;
}
.episode-card .episode-details .episode-overview {
  margin-top: 6px;
  width: -webkit-fill-available;
  text-align: left;
}

@media (hover: hover) and (pointer: fine) {
  .episode-card:hover {
    scale: 1.07;
  }
}
