@import "assets/styles/variables.css";

.terminal {
  font-family: monospace;
  font-size: 14px;
  margin-top: 30px;
  padding: 10px;
  border-radius: 5px;
  overflow-y: scroll;
  height: 300px;
  box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 8px 0 rgba(0, 0, 0, 0.19);
}

.terminal.light {
  background-color: var(--ui-element-light);
  color: var(--font-color-light);
}

.terminal.dark {
  background-color: var(--ui-element-dark);
  color: var(--font-color-dark);
}

.terminal-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 10px;
}

.terminal-header.light {
  border-bottom: 1px solid var(--font-color-light);
}

.terminal-header.dark {
  border-bottom: 1px solid var(--font-color-dark);
}

.terminal-title {
  font-weight: bold;
}

.terminal-title.light {
  color: var(--font-color-light);
}

.terminal-title.dark {
  color: var(--font-color-dark);
}

.terminal-body {
  margin-top: 10px;
}

.terminal-line {
  margin: 0;
  margin-bottom: 5px;
  text-align: left;
}

.terminal-line::before {
  content: "$ ";
  color: #50fa7b;
}

.terminal-line.light::before {
  color: #7a50ee;
}
