.episodePage {
  display: grid;
  width: 100%;
  gap: 20px;
  grid-template-columns: 1fr;
  grid-template-areas:
    "linkTreeSection"
    "mainInfoSection"
    "linksSection"
    "imagesSection"
    "videosSection";
  padding: 15px;
  color: var(--font-color);
  background: var(--bg-color);
}

.episodePage .linkTreeSection {
  grid-area: linkTreeSection;
  display: flex;
}

.episodePage .linkTreeSection ul {
  list-style: none;
  text-align: left;
  font-size: 14px;
  margin-bottom: 0rem;
  padding-left: 1rem;
  padding-top: 0.3rem;
}

.episodePage .linkTreeSection ul li.link-tree-child {
  display: inline;
  list-style-type: none;
  padding-right: 10px;
  float: left;
  font-size: 1rem;
}

.episodePage .mainInfoSection {
  grid-area: mainInfoSection;
  display: grid;
  gap: 5px;
  grid-template-columns: 0.1fr 0.9fr;
  grid-template-areas:
    "posterSection infoSection"
    "actionButtonsSection actionButtonsSection";
  padding: 10px;
  width: 100%;
  border-radius: 5px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 4px 0 rgba(0, 0, 0, 0.19);
  background-color: var(--ui-element-color);
}

.episodePage .mainInfoSection .posterSection {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: space-between;
}

.episodePage .mainInfoSection .infoSection {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: flex-start;
  justify-content: flex-start;
}
.episodePage .mainInfoSection .infoSection ul {
  list-style: none;
  text-align: left;
  font-size: 14px;
  margin-bottom: 0rem;
  padding-left: 1rem;
  padding-top: 0.3rem;
}

.episodePage .mainInfoSection .actionButtonsSection {
  grid-area: actionButtonsSection;
  margin-top: 10px;
  text-align: left;
}

.episodePage .mainInfoSection .actionButtonsSection .actionButtons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  align-content: space-around;
}

.episodePage
  .mainInfoSection
  .actionButtonsSection
  .actionButtons
  .actionButton {
  padding: 8px;
  border-radius: 8px;
  margin: 5px 10px 5px 10px;
  text-decoration: none;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.18), 0 1px 2px 0 rgba(0, 0, 0, 0.167);
  width: 50px;
  text-align: center;
  height: 50px;
  line-height: 10px;
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: space-around;
  flex-direction: column;
  flex-wrap: wrap;
  cursor: pointer;
  border-width: 0px;
  font-size: 1.2rem;
}

.episodePage
  .mainInfoSection
  .actionButtonsSection
  .actionButtons
  .actionButton {
  color: var(--ui-element-hover-font-color);
  background-color: var(--ui-element-hover-color);
}

.episodePage
  .mainInfoSection
  .actionButtonsSection
  .actionButtons
  .actionButton:hover {
  color: var(--font-color);
  background-color: var(--bg-color);
}

.episodePage .imagesSection {
  grid-area: imagesSection;
}

.episodePage .linksSection {
  grid-area: linksSection;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
}

.episodePage .videosSection {
    grid-area: videosSection;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
}

@media screen and (max-width: 620px) {
  .episodePage .mainInfoSection {
    grid-template-columns: 1fr;
    grid-template-areas:
      "posterSection"
      "infoSection"
      "actionButtonsSection";
  }
}
