@import "assets/styles/variables.css";

.title-page {
  padding: 5px 5px 5px 5px;
  display: grid;
  grid-template-columns: 1fr 1fr 1.5fr 1.5fr 1.5fr 1fr 1fr 1fr 1fr 1fr;
  gap: 10px;
  width: -webkit-fill-available;
  grid-template-areas:
    "title-title-section title-title-section title-title-section title-title-section title-title-section title-title-section title-title-section title-title-section title-title-section title-title-section"
    "title-poster-section title-poster-section  title-poster-section title-details-section title-details-section title-details-section title-details-section title-details-section title-details-section title-details-section"
    "title-episodes-section title-episodes-section title-episodes-section title-episodes-section  title-episodes-section title-episodes-section title-episodes-section title-episodes-section title-episodes-section title-episodes-section"
    "title-seasons-section title-seasons-section title-seasons-section title-seasons-section title-seasons-section title-seasons-section title-seasons-section title-seasons-section title-seasons-section title-seasons-section"
    "title-links-section title-links-section title-links-section title-links-section title-links-section title-links-section title-links-section title-links-section title-links-section title-links-section";
}

.title-page .title-title-section {
  grid-area: title-title-section;
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  font-weight: bold;
  font-size: larger;
  padding: 10px;
  cursor: pointer;
}

.title-page.light {
  color: var(--font-color-light);
}

.title-page.dark {
  color: var(--font-color-dark);
}

.title-page small {
  color: gray;
}

.title-page .title-poster-section {
  grid-area: title-poster-section;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: flex-start;
  padding: 0px 10px 10px 10px;
}

.title-page .title-details-section {
  grid-area: title-details-section;
  margin-right: 0px;
}

.title-page .title-episodes-section {
  grid-area: title-episodes-section;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-top: 20px;
  padding: 5px;
}

.title-page .title-seasons-section {
  grid-area: title-seasons-section;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-top: 20px;
  padding: 5px;
}

.title-page .title-links-section {
  grid-area: title-links-section;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-top: 20px;
  padding: 5px;
}

@media (max-width: 1080px) {
  .title-page {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
      "title-title-section"
      "title-poster-section"
      "title-details-section"
      "title-episodes-section"
      "title-seasons-section"
      "title-links-section";
  }
}
