:root {
  /* light theme */
  --bg-light: #e9f1fa;
  --font-color-light: #020d1a;
  --ui-element-light: #c8d9ec;
  --button-bg-light: #4182cb;
  --button-color-light: #fafafa;
  --title-box-title-light: #15202b;
  --title-box-title-bg-light: #d5e1ed;
  /* hsf = Header Sidebar Footer */
  --hsf-bg-light: #192734;
  /* movie-overlay */
  --movie-modal-bg-light: rgb(255, 255, 255);
  --seasons-bg-light: rgba(255, 255, 255, 0);

  /* dark theme */
  --bg-dark: #15202b;
  --font-color-dark: #ffffff;
  --ui-element-dark: #22303c;
  --button-bg-dark: #9400d3;
  --button-color-dark: #fafafa;
  --title-box-title-dark: #ffffff;
  --title-box-title-bg-dark: #192734;
  /* hsf = Header Sidebar Footer */
  --hsf-bg-dark: #ffffff;
  /* movie-overlay */
  --movie-modal-bg-dark: rgb(0, 0, 0);
  --seasons-bg-dark: rgba(0, 0, 0, 0);

  /* tooltip colors */
  --tooltip-background-color: rgb(7, 52, 88);
  --tooltip-font-color: #ffffff;

  /* Transitions */
  ---trans-theme: 0.2s ease-out;
  ---tran-02: all 0.5 ease;
  ---tran-03: all 0.5 ease;
  ---tran-04: all 0.5 ease;
  ---trans-sidebar-toggle: 0.8s ease-out;
  ---trans-container-margin: 0.2s ease-in-out;
  ---hover-movies: 1s ease;

  /* =================================== */

  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;

  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  --primary-glow: conic-gradient(
    from 180deg at 50% 50%,
    #16abff33 0deg,
    #0885ff33 55deg,
    #54d6ff33 120deg,
    #0071ff33 160deg,
    transparent 360deg
  );
  --secondary-glow: radial-gradient(
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 0)
  );

  --tile-start-rgb: 239, 245, 249;
  --tile-end-rgb: 228, 232, 233;
  --tile-border: conic-gradient(
    #00000080,
    #00000040,
    #00000030,
    #00000020,
    #00000010,
    #00000010,
    #00000080
  );

  --callout-rgb: 238, 240, 241;
  --callout-border-rgb: 172, 175, 176;
  --card-rgb: 180, 185, 188;
  --card-border-rgb: 131, 134, 135;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  overflow-y: scroll;
  /* height: 100vh; */
  font-family: Roboto, Helvetica, Arial, sans-serif;
}

body.light {
  background-color: var(--bg-light);
}

body.dark {
  background-color: var(--bg-dark);
}

* {
  transition: color var(---trans-theme), background-color var(---trans-theme);
}

/* app global styles */
* {
  font-family: Roboto, Helvetica, Arial, sans-serif;
}

.modal-container {
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 10009;
  background-color: rgba(0, 0, 0, 0.9);
  top: 0px;
  left: 0px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* style scrollbar for Chrome, Safari and Opera */
::-webkit-scrollbar {
  display: none;
  width: 10px;
}

/* Hide scrollbar for IE, Edge and Firefox */
::-webkit-scrollbar {
  /* IE and Edge */
  -ms-overflow-style: none;
  /* Firefox */
  scrollbar-width: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: inherit;
  -webkit-text-fill-color: gray;
  background-color: rgba(0, 0, 0, 0) !important;
  -webkit-box-shadow: inherit;
  transition: background-color 5000s ease-in-out 0s;
}

.global-last-card {
  display: flex;
  padding: 25px;
  width: 100%;
  max-width: 180px;
  border-radius: 5px;
  margin-bottom: 10px;
  align-items: center;
  transition: scale 0.5s ease-in-out;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.2), 0 2px 3px 0 rgba(0, 0, 0, 0.19);
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  align-content: space-around;
}

.global-last-card .more-button-section {
  width: 100%;
}
.global-last-card.light {
  background-color: var(--ui-element-light);
  color: var(--font-color-light);
}

.global-last-card.dark {
  background-color: var(--ui-element-dark);
  color: var(--font-color-dark);
}

.global-last-card .more-button {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  flex-wrap: wrap;
  height: 100%;
  align-content: stretch;
  width: 100%;
  justify-content: space-around;
}

.global-last-card .more-button span {
  border-radius: 10px;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: space-around;
  flex-direction: column;
  flex-wrap: wrap;
}

.global-last-card.light .more-button span {
  background-color: hsla(0, 0%, 3%, 0.7);
  border: 3px solid hsl(0, 0%, 100%);
}

.global-last-card.dark .more-button span {
  background-color: hsla(0, 0%, 3%, 0.7);
  border: 3px solid hsl(0, 0%, 100%);
}

.global-last-card .more-button i {
  color: #f5c518;
  font-size: 6rem;
}

.link,
.link:hover {
  cursor: pointer;
  text-decoration: none;
  font-family: inherit;
  color: inherit;
  text-align: left;
}

.page-section-heading {
  margin-bottom: 20px;
  font-weight: bold;
  cursor: pointer;
  text-align: left;
}

.page-section-heading:hover span i {
  color: #f5c518;
}

.page-section-heading span {
  font-size: 24px;
}
.page-section-heading span small {
  color: gray;
  font-size: 1rem;
  top: -4px;
  position: relative;
}

.page-section-heading::before {
  content: "| ";
  font-weight: bolder;
  font-size: larger;
  color: #f5c518;
}

.page-section-heading:hover::after {
  content: " #";
  font-weight: bolder;
  font-size: larger;
  color: #f5c518;
}

.sub-heading {
  cursor: pointer;
  text-align: left;
}

.sub-heading a,
.sub-heading a:hover {
  text-decoration: none;
  color: inherit;
}

.sub-heading::before {
  content: "| ";
  font-weight: bolder;
  font-size: larger;
  color: #f55a18;
}

body.light .sub-heading::before,
body.light .sub-heading::after {
  color: #f55a18;
}

body.dark .sub-heading::before,
body.dark .sub-heading::after {
  color: #f5c518;
}

.sub-heading:hover::after {
  content: " #";
  font-weight: bolder;
  font-size: larger;
}

.link-tree-child {
  cursor: pointer;
  text-align: left;
}

.link-tree-child a,
.link-tree-child a:hover {
  text-decoration: none;
  color: inherit;
  text-transform: capitalize;
}

.link-tree-child:is(:first-child)::before {
  content: "| ";
  font-weight: bolder;
  font-size: larger;
}

.link-tree-child::after {
  content: " \276F";
  font-weight: bolder;
  font-size: larger;
}

.link-tree-child:is(:last-child) {
  pointer-events: none;
  cursor: pointer;
  opacity: 0.6;
}

.link-tree-child:is(:last-child)::after {
  content: "";
}

.link-tree-child:hover::after {
  content: " #";
  font-weight: bolder;
  font-size: larger;
}

body.light .link-tree-child::before,
body.light .link-tree-child::after {
  color: #f55a18;
}

body.dark .link-tree-child::before,
body.dark .link-tree-child::after {
  color: #f5c518;
}

.errorMessage {
  text-align: center;
  color: rgb(176, 42, 69);
  font-weight: bold;
  /* margin-top: 100px; */
}

@media (hover: hover) and (pointer: fine) {
  .global-last-card:hover {
    scale: 1.07;
  }
}
