/** 
 *	#########################################################
 *  										 									
 *      @author : charanteja379                                 			
 *      @email  : charanteja379@gmail.com                                  
 *  	@createedOn : 2023-01-07 19:28:58                               
 *      @lastModifiedOn : 2023-01-17 15:01:49
 *  	@desc   : [description]							
 *  										 								
 *  #########################################################
 */

@import "./variables.css";

body{
    overflow-y: hidden;
    height: 100vh;
}

div#root {
    height: 100vh;
    width: 100vw;
}


/* style scrollbar for Chrome, Safari and Opera */
::-webkit-scrollbar {
    /* display: none; */
    /* width: 10px; */
  }
  
 
 
  /* Hide scrollbar for IE, Edge and Firefox */
  ::-webkit-scrollbar{
    /* IE and Edge */
    /* -ms-overflow-style: none;   */
    /* Firefox */
    /* scrollbar-width: none;   */
  }


  *{
    transition:color var(---trans-theme), background-color var(---trans-theme);
  }