/** 
 *	#########################################################
 *  										 									
 *      @author : charanteja379                                 			
 *      @email  : charanteja379@gmail.com                                  
 *  	@createedOn : 2023-01-07 19:28:58                               
 *      @lastModifiedOn : 2023-01-13 00:22:53
 *  	@desc   : [description]							
 *  										 								
 *  #########################################################
 */

@import "./variables.css";

body{
    overflow-y: scroll;
    height: 100vh;
}

div#root {
    height: 100%;
    width: 100vw;
}

/* Hide scrollbar for Chrome, Safari and Opera */
::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
  ::-webkit-scrollbar{
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }

  *{
    transition:color var(---trans-theme), background-color var(---trans-theme);
  }