@import "./variables.css";

/* movies  */
/*  movies list wrapper */
.collection-wrapper {
  text-align: center; /* center all the contnets */
}

.collection-wrapper.light {
  background-color: var(--bg-light);
}

.collection-wrapper.dark {
  background-color: var(--bg-dark);
}

/* just a wraper to  */
.movies {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 10px;
  margin-top: 0;
  z-index: 0;
}

/* movie box */
/* box */
.movie-box {
  display: flex;
  flex-direction: column;
  justify-content: normal;
  align-items: center;
  flex-wrap: wrap;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border: 0px solid;
  position: relative;
  border-radius: 6px 6px 3px 3px;
  z-index: 0;
}

.movie-box.light {
  background-color: var(--ui-elemnet-light);
  box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 8px 0 rgba(0, 0, 0, 0.19);
}

.movie-box.dark {
  background-color: var(--ui-elemnet-dark);
  box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.18), 0 6px 8px 0 rgba(0, 0, 0, 0.167);
}

.movie-box .movie-cover-year{
  position: absolute;
  font-weight: 500;
  font-size: 16px;
  bottom: 17%;
  left: 0px;
  height: 20px;
  width: 45px;
  display: flex;
  border-radius: 0px 8px 8px 0px;
  align-items: center;
  justify-content: center;
}

.movie-box.light .movie-cover-year {
  color: var(--font-color-light);
  background-color: var(--ui-elemnet-light);
}

.movie-box.dark .movie-cover-year {
  color: var(--font-color-dark);
  background-color: var(--ui-elemnet-dark);
}

.movie-box .movie-cover-ratting{
  position: absolute;
    font-weight: 500;
    font-size: 16px;
    bottom: 17%;
    right: 0;
    height: 20px;
    width: 30px;
    display: flex;
    border-radius: 8px 0px 0px 8px;
    align-items: center;
    justify-content: center;
}

.movie-box.light .movie-cover-ratting {
  color: var(--font-color-light);
  background-color: var(--ui-elemnet-light);
}

.movie-box.dark .movie-cover-ratting {
  color: var(--font-color-dark);
  background-color: var(--ui-elemnet-dark);
}

.movie-box .movie-cover-info {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 0;
  opacity: 0;
  position: absolute;
  width: 156px;
  overflow: hidden;
  padding: 2px;
  font-weight: 400;
  font-size: 1.5rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  border-radius: 5px 5px 0px 0px;
  
}

.movie-box.light .movie-cover-info:hover {
  opacity: .8;
  color: var(--font-color-light);
  background-color: var(--ui-elemnet-light);
}

.movie-box.dark .movie-cover-info:hover {
  opacity: .8;
  color: var(--font-color-dark);
  background-color: var(--ui-elemnet-dark);
}

.movie-box .movie-cover img,
.movie-box  .movie-cover .movie-nocover {
  width: 157px;
  height: 233px;
  overflow: hidden;
  position: relative;
  border-radius: 5px 5px 0 0;
}

.movie-box  .movie-cover, .movie-box  .movie-nocover {
  overflow: hidden;
}

.movie-cover .movie-nocover.light {
  /* color: #5107c0; */
  color: var(--font-color-light);
  border: 1px solid var(--font-color-light);
  /* background-color: rgb(194, 196, 197); */
  background-color: var(--bg-light);
}

.movie-cover .movie-nocover.dark {
  color: var(--font-color-dark);
  border: 1px solid var(--font-color-dark);
  /* background-color: #252323; */
  background-color: var(--bg-dark);
}


/* titile */
.movie-box .movie-title {
  padding: 10px;
  width: 157px;
  position: relative;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.movie-box.light .movie-title {
  /* color: #5107c0; */
  color: var(--movie-box-title-light);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 400;
  border-top: 3px solid var(--movie-box-title-light);
}

.movie-box.dark .movie-title {
  color: var(--movie-box-title-dark);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 400;
  border-top: 3px solid var(--movie-box-title-dark);
}

@media (max-width: 419px) {
  .movie-box {
    margin-top: 10px;
    margin-right: 10px;
  }

  .movie-box .movie-cover img,
  .movie-box .movie-nocover {
    width: 137px;
    height: 145px;
  }

  .movie-box .movie-title {
    width: 137px;
  }

  .movie-box .movie-cover-info {
    width: 137px !important;
    height: 145px !important;
    font-size: 0.5rem;
  }

  .movie-box .movie-cover-year{
    font-size: 10px;
    bottom: 24%;
    height: 15px;
    width: 30px;
  }

  .movie-box .movie-cover-ratting{
    font-size: 10px;
    bottom: 24%;
    height: 15px;
    width: 20px;
  }
}

@media (min-width: 420px) {
  .movie-box {
    margin-top: 10px;
    margin-right: 10px;
  }

  .movie-box .movie-cover img,
  .movie-box .movie-nocover {
    width: 147px;
    height: 147px;
  }

  .movie-box .movie-title {
    width: 147px;
  }

  .movie-box .movie-cover-info {
    width: 147px;
    height: 147px;
    font-size: 0.5rem;
}

  .movie-box .movie-cover-year{
    font-size: 10px;
    bottom: 24%;
    height: 15px;
    width: 30px;
  }

  .movie-box .movie-cover-ratting{
    font-size: 10px;
    bottom: 24%;
    height: 15px;
    width: 20px;
  }
}




@media (min-width: 1080px) {
  .movie-box.light:hover {
    border-radius: 5px 5px 10px 10px;    
    transform-origin: top bottom right left;
    /* transform: scale(1.0);  */
    background-color: var(--ui-elemnet-dark);
    box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.18), 0 6px 8px 0 rgba(0, 0, 0, 0.167);
    transition: transform 1s, border-radius var(---hover-movies), background-color var(---hover-movies), box-shadow var(---hover-movies);
  }

  .movie-box.dark:hover {
    border-radius: 6px 6px 10px 10px;    
    transform-origin: top bottom right left;
    /* transform: scale(1.0);  */
    background-color: var(--ui-elemnet-light);
    box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 8px 0 rgba(0, 0, 0, 0.19);
    transition: transform 1s, border-radius var(---hover-movies), background-color var(---hover-movies), box-shadow var(---hover-movies);
  }

  .movie-box:hover .movie-title.dark{
    color: var(--font-color-light);
    border-top: 3px solid var(--font-color-light);
    transition: color var(---hover-movies), border-top var(---hover-movies);

  }

  .movie-box:hover .movie-title.light{
    color: var(--font-color-dark);
    border-top: 3px solid var(--font-color-dark);
    transition: color var(---hover-movies), border-top var(---hover-movies);
    
  }

  .movie-box {
    margin-top: 10px;
    margin-right: 20px;
  }

  .movie-box  .movie-cover img,
  .movie-box .movie-nocover {
    height: 230px;
    width: 200px;
  }

  .movie-box  .movie-title {
    width: 200px;
  }
  .movie-box .movie-cover-info {
    height: 230px;
    width: 200px;
    font-size: 1.5rem;
  }

  .movie-box .movie-cover-year{
    font-size: 16px;
    bottom: 17%;
    height: 20px;
    width: 50px;
  }

  .movie-box .movie-cover-ratting{
    font-size: 16px;
    bottom: 17%;
    height: 20px;
    width: 30px;
  }
}
