@import "./variables.css";

.main-component {
  background-color: var(--bg-light);
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
}

.main-component.light {
  background-color: var(--bg-light);
}

.main-component.dark {
  background-color: var(--bg-dark);
}
.main-container {
  display: flex;
  flex-wrap: wrap;
  margin-right: 0;
  height: max-content;
  overflow-y: scroll;
  overflow-x: hidden;
  flex-direction: column;
  justify-content: flex-start;
  align-content: center;
  align-items: center;
  padding-bottom: 20px;
  /* transition: margin-left var(---trans-container-margin); */
  
}

.sidebar.close + .main-container{
  margin-left: 70px;
}

.sidebar + .main-container {
  margin-left: 240px;
}

.sidebar.none + .main-container{
  margin-left: 3px;
}


.container.light {
  background-color: var(--bg-light);
}
.container.dark {
  background-color: var(--bg-dark);
}

@media (max-width: 580px) {
  .main-container {
    margin-left: 70px;
  }
}
