@import './variables.css';


.movie-poster-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border: 0px solid;
    position: relative;
    overflow: hidden;
    border-radius: 12px;
    z-index: 1;
    width: 170px;
    height: 255px;   
    margin: 10px 7px 10px 7px;
}

.movie-poster-box.light {
    background-color: var(--ui-elemnet-light);
    color: var(--font-color-light);
}

.movie-poster-box.dark {
    background-color: var(--ui-elemnet-dark);
    color: var(--font-color-dark);
}

.movie-poster-box .movie-poster-backdrop,
.movie-poster-box .movie-poster-img {
    display : flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: inherit;
    height: inherit; 
    overflow: hidden;
    position: absolute;
    right: 0px;
}

.movie-poster-box .movie-poster-backdrop {
    opacity: 0.3;
    z-index: 0;
}

.movie-poster-box .movie-poster-img {
    z-index: 1;
}

.movie-poster-box .movie-poster-img img {
    width: inherit;
    height: inherit;
}

.movie-tagline {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border: 0px solid;
    position: relative;
    overflow: hidden;
    z-index: 1;
    width: inherit;
    padding: 5px;  
    margin: 10px 7px 10px 7px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
}

.movie-tagline.light {
    color: var(--font-color-light);
}

.movie-tagline.dark {
    color: var(--font-color-dark);
}