@import './variables.css';

.movie-page {
    padding: 5px;
    display: grid;
    grid-template-columns: 1fr 1fr 0.5fr 1.5fr 1fr 1fr 1fr 1fr 1fr 1fr ;
    grid-template-rows: 1fr 7fr 2fr;
    grid-template-areas: 
    "movie-title movie-title movie-title movie-title movie-title movie-title movie-title movie-title movie-title movie-title"
    "movie-poster movie-poster  movie-poster movie-details movie-details movie-details movie-details movie-details movie-details movie-details";
}

.movie-page .movie-title {
    grid-area: movie-title;
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    font-weight: bold;
    font-size: larger;
    font-family: 'Courier New', Courier, monospace;
}

.movie-page.light .movie-title{
    color: var(--font-color-light);
}

.movie-page.dark .movie-title{
    color: var(--font-color-dark);
}

.movie-page .movie-poster {
    grid-area: movie-poster;
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: flex-start;
}

.movie-page .movie-details{
    grid-area: movie-details;
    margin-right: 0px;

}



@media (max-width: 840px) {
    .movie-page {
        display: grid;
        grid-template-columns: 1fr ;
        grid-template-rows: 0.5fr 3fr 5fr 1.5fr;
        grid-template-areas: 
        "movie-title"
        "movie-poster"
        'movie-details';
    }
}