@import './variables.css';

/*  */
.movie-info-box {
  display: grid;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 14px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.2fr 0.8fr 0.4fr;
  gap: 5px;
  grid-template-areas: 
        "genres-container genres-container"
        "movie-info movie-info"
        "movie-overview movie-overview";
}

/*  */
.movie-info-box .genres-container {
    grid-area: genres-container;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 5px;
    border-radius: 5px;
}
.genres-container .genre{
    padding: 5px;
    border-radius: 3px;
    margin: 5px 5px 5px 0px;
}

.genres-container.light .genre {
    background-color:var(--bg-light);
    color: var(--font-colot-light);
}

.genres-container.dark .genre {
    background-color:var(--bg-dark);
    color: var(--font-colot-dark);
}

/*  */
.movie-info-box .movie-info {
    grid-area: movie-info;
    padding: 5px;
    width: -webkit-fill-available;
    border-radius: 5px;
}

.movie-info-box .movie-info .info-item {
    margin-left: 1px;
    margin-top: 2px;
    padding: 1px;
    text-align: initial;

}


.movie-info-box .movie-overview {
    text-align: initial;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    grid-area: movie-overview;
    padding: 5px;
    width: -webkit-fill-available;
    border-radius: 5px;
}

.movie-info-box.light .genres-container,
.movie-info-box.light .movie-info,
.movie-info-box.light .movie-overview  {
    background-color: var(--ui-elemnet-light);
    color: var(--font-color-light);
    border-top: 2px solid var(--ui-elemnet-dark);
    
}

.movie-info-box.dark .genres-container,
.movie-info-box.dark .movie-info,
.movie-info-box.dark .movie-overview   {
    background-color: var(--ui-elemnet-dark);
    color: var(--font-color-dark);
    border-top: 2px solid var(--ui-elemnet-light);
}

