@import "./variables.css";


.pagination {
    margin: 25px 10px 10px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 5px 5px 5px;
}

.pagination .pages {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.pages .page {
    display: grid;
    padding: 0px;
    border: 1px solid;
    border-radius: 100px;
    width: 30px;
    height: 30px;
    font-size: small;
    font-weight: 400;
    align-items: center;
    justify-content: center;
    margin-left: 5px;
    margin-top: 5px;
    cursor: pointer;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.pages .page.disabled  {
    cursor: not-allowed;
    opacity: 0.2;
}

.pages.light .page{
    background-color: var(--ui-elemnet-light);
    color: var(--font-color-light);
    border-color: var(--ui-elemnet-dark);
}

.pages.dark .page{
    background-color: var(--ui-elemnet-dark);
    color: var(--font-color-dark);
    border-color: var(--ui-elemnet-light);
}

.pages.light .page:hover{
    background-color: var(--ui-elemnet-dark);
    color: var(--font-color-dark);
    border-color: var(--ui-elemnet-light);
}

.pages.dark .page:hover{
    background-color: var(--ui-elemnet-light);
    color: var(--font-color-light);
    border-color: var(--ui-elemnet-dark);
}

.pages .page.active {
    background-color: green;
}

.pages.light .page.active {
    background-color: var(--ui-elemnet-dark);
    color: var(--font-color-dark);
    border-color: var(--ui-elemnet-light);
}

.pages.dark .page.active {
    background-color: var(--ui-elemnet-light);
    color: var(--font-color-light);
    border-color: var(--ui-elemnet-dark);
}

.pages.light .page.active:hover {
    background-color: var(--ui-elemnet-light);
    color: var(--font-color-light);
    border-color: var(--ui-elemnet-dark);
}

.pages.dark .page.active:hover {
    background-color: var(--ui-elemnet-dark);
    color: var(--font-color-dark);
    border-color: var(--ui-elemnet-light);
}