body {
    overflow-y: scroll;
}

/* movies */
.movie-wrapper {
    text-align: center;
}

.movies .movie-box {
    display: inline-block;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    margin-top: 10px;
    margin-right: 15px;
    background-color: #FFF;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 8px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;

}


.movies .movie-title {
    padding: 10px;
    width: 200px;
    white-space: nowrap;
    border-top: 4px solid #5107c0;
    overflow: hidden;
}

.movies .movie-cover img,
.movies .movie-nocover {
    width: 200px;
    height: 230px;
    overflow: hidden;
    border-radius: 5px 5px 0 0;

}

.movie-cover .movie-nocover {
    overflow: hidden;
    border: 1px solid white;
    background-color: #e2e2e2;
}

/* Header */
.navbar {
    display: flex;
    padding: 5px 5px 5px 15px;
    background-color: #5107c0;
    color: white;
    z-index: 0;
    position: sticky;
    top: 0;
}

.navbar .nav-title {
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 24px;
    letter-spacing: -0.4px;
    word-spacing: 1.6px;
    color: #FFF;
    font-weight: normal;
    text-decoration: none solid rgb(68, 68, 68);
    font-style: italic;
    font-variant: small-caps;
    text-transform: capitalize;
}

.navbar .nav-items .nav-item {
    list-style: none;
    display: inline;
    padding: 0 5px 0 5px;
    text-align: right;

}

.navbar .nav-items {
    margin-bottom: auto;
    margin-left: auto;
}

.nav-items .nav-img {
    list-style: none;
    display: inline-block;
    padding: 0 0px 0 0px;
    text-align: center;
    height: 50px;
    width: 55px;

}


@media (max-width : 580px) {
    .movies .movie-box {
        margin-top: 10px;
        margin-right: 15px;
    }

    .movies .movie-cover img,
    .movies .movie-nocover {
        width: 157px;
        height: 233px;
    }

    .movies .movie-title {
        width: 157px;
    }

    .navbar .nav-title {
        display: none;
    }


}

@media (min-width : 1080px) {

    .movie-box:hover {
        box-shadow: -11px -10px 111px 12px rgba(19, 19, 153, 1);
        border-radius: 5px 5px 20px 20px;
        transition: transform 1.5s;
        transform-origin: top bottom right left;
        transform: scale(1.5);
    }
}