body {
    background-color: rgba(0, 0, 0, 0.943);
    overflow-y: scroll;
}


/* movies */
.movie-wrapper {
    text-align: center;
}

.movies .movie-box {
    display: inline-block;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    margin-top: 10px;
    margin-right: 10px;
    background-color: #FFF;
    border: 0px solid #ccc;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 8px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
}


.movies .movie-title {
    padding: 10px;
    width: 200px;
    white-space: nowrap;
    border-top: 3px solid #3c8dbc;
    overflow: hidden;
}

.movies .movie-cover img,
.movies .movie-nocover {
    width: 200px;
    height: 230px;
    overflow: hidden;
    border-radius: 10px 10px 0 0;
}

.movie-cover .movie-nocover {
    overflow: hidden;
    border: 1px solid white;
    background-color: #e2e2e2;
}

@media (max-width : 480px) {
    .movies .movie-box {
        margin-top: 10px;
        margin-right: 15px;
    }

    .movies .movie-cover img,
    .movies .movie-nocover {
        width: 157px;
        height: 233px;
    }

    .movies .movie-title {
        width: 157px;
    }
}

@media (min-width : 1080px) {

    .movie-box:hover{
        box-shadow: 0 10px 80px rgba(132, 2, 246, 0.19);
        transition: transform 1.5s;
        transform-origin: top bottom right left;
        transform: scale(1.2);
    }

}