.linkCard {
  display: flex;
  padding: 10px;
  width: -webkit-fill-available;
  max-width: 380px;
  max-height: 620px;
  border-radius: 10px;
  margin-bottom: 10px;
  align-items: flex-start;
  overflow: hidden;
  transition: scale 0.5s ease-in-out, color 0.1s ease-in,
    background-color 0.1s ease-in;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.2), 0 2px 3px 0 rgba(0, 0, 0, 0.19);
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--ui-element-color);
  color: var(--font-color);
}

.linkCard ul {
  list-style: none;
  text-align: left;
  font-size: 1rem;
  margin-bottom: 0rem;
  padding-left: 1rem;
  padding-top: 0.3rem;
}

.linkCard ul li {
  display: block;
  list-style-type: none;
  padding-right: 10px;
  margin-bottom: 5px;
}
.linkCard ul li h6 {
  font-weight: bold;
  font-family: monospace;
  margin-bottom: 5px;
  overflow-wrap: anywhere;
  border-radius: 5px;
  padding: 5px;
  font-size: 1rem;
  box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.19);
  background-color: var(--bg-color);
  color: var(--font-color);
}

.linkCard ul li span {
  overflow-wrap: anywhere;
}

.linkCard .linkItem {
  font-size: 0.9rem;
}
.linkCard .contentQuality {
  display: flex;
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  align-content: flex-start;
}
.linkCard ul li .quality {
  margin-bottom: 5px;
  margin-right: 8px;
  font-size: 0.8rem;
  font-weight: bold;
  overflow-wrap: anywhere;
  background-color: crimson;
  color: var(--font-color-dark);
  border-radius: 5px;
  padding: 5px;
}

.linkCard ul li .quality[data-quality="4K"] {
  background-color: crimson;
  color: var(--font-color-dark);
}
.linkCard ul li .quality[data-quality="2K"] {
  background-color: #9400d3;
  color: var(--font-color-dark);
}

.linkCard ul li .quality[data-quality="Ultra HD"] {
  background-color: #4b0082;
  color: var(--font-color-dark);
}

.linkCard ul li .quality[data-quality="HD"] {
  background-color: #0000ff;
  color: var(--font-color-dark);
}

.linkCard ul li .quality[data-quality="1080P"] {
  background-color: #228b22;
  color: var(--font-color-dark);
}

.linkCard ul li .quality[data-quality="720P"] {
  background-color: var(--button-bg-light);
  color: var(--button-color-light);
}

.linkCard ul li .quality[data-quality="480P"] {
  background-color: #ffff00;
  color: var(--font-color-light);
}

.linkCard ul li .quality[data-quality="320P"] {
  background-color: #ff0000;
  color: var(--font-color-dark);
}

/* ["1080P", "HD", "Ultra HD", "320P", "480P", "4K", "2K"] */

.linkCard .actionButtons {
  display: flex;
  position: relative;
  bottom: 0px;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;
  align-content: space-around;
  width: 100%;
}

.linkCard .actionButtons button {
  border-radius: 5px;
  padding: 5px;
  border-width: 0px;
  margin: 5px;
  min-width: 50px;
  min-height: 25px;
  font-weight: bold;
  cursor: pointer;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  background-color: var(--button-bg-color);
  color: var(--button-font-color);
}

.linkCard .actionButtons button[data-type="get"]:hover {
  background-color: rgb(34, 139, 34);
  color: var(--font-color-dark);
}

.linkCard .actionButtons button[data-type="edit"]:hover {
  background-color: #d37000;
  color: var(--font-color-dark);
}

.linkCard .actionButtons button[data-type="delete"]:hover {
  background-color: crimson;
  color: var(--font-color-dark);
}
