.titleActions {
  display: flex;
  flex-direction: column;
  padding: 5px;
  margin-top: 10px;
  align-items: center;
}

.titleActions .userRelated {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-between;
  align-items: center;
}

.titleActions .moderatorRelated {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.titleActions .actionButton {
  padding: 8px;
  border-radius: 8px;
  margin: 5px 10px 5px 10px;
  text-decoration: none;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.18), 0 1px 2px 0 rgba(0, 0, 0, 0.167);
  background-color: var(--ui-element-color);
  color: var(--font-color);
  border-width: 0px;
  cursor: pointer;
  font-size: 1.1rem;
}

.titleActions .actionButton:hover {
  background-color: var(--ui-element-hover-color);
  color: var(--ui-element-hover-font-color);
}

.userRelated .actionButton {
  width: 50px;
  text-align: center;
  height: 50px;
  line-height: 10px;
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: space-around;
  flex-direction: column;
  flex-wrap: wrap;
  border-width: 0px;
  cursor: pointer;
  font-size: 1.1rem;
}
.moderatorRelated .actionButton {
  width: 190px;
  text-align: center;
  height: 50px;
  line-height: 33px;
  border-width: 0px;
  cursor: pointer;
  font-size: 1.1rem;
}

.moderatorRelated .actionButton span {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  overflow: hidden;
  width: 165px;
  text-overflow: ellipsis;
  font-weight: bold;
}
