.footer {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  padding: 2px 5px 2px 5px;
  position: fixed;
  width: 100%;
  z-index: 1010;
  bottom: 0;
  margin: 0px;
  max-height: 25px;
  background-color: var(--bg-color);
}

.footer .tmdbLogo {
  width: 40px;
}

.footer a {
  text-decoration: none;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
  color: var(--font-color);
}

@media (max-width: 420px) {
  .footer {
    font-size: 0.7rem;
  }
}
