.signupForm {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 420px;
  padding: 20px;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  border-radius: 10px;
  z-index: 999;
  overflow-y: scroll;
  color: var(--font-color);
  background: var(--ui-element-color);
  box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 8px 0 rgba(0, 0, 0, 0.19);
}

.signupForm h2 {
  margin: 0 0 30px;
  padding: 0;
  text-align: center;
}

.signupForm .inputBox {
  position: relative;
}

.signupForm .inputBox label {
  position: absolute;
  color: #7a66ed;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 18px;
  pointer-events: none;
  transition: 0.3s;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.signupForm .inputBox input {
  width: 100%;
  padding: 10px 0;
  font-size: 18px;
  color: inherit;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #7a66ed;
  outline: none;
  background: transparent;
}

.signupForm .inputBox input:not([value=""]) ~ label,
.signupForm .inputBox input:focus ~ label {
  top: -20px;
  left: 0;
  font-size: 12px;
}

.signupForm .inputBox input[type="password"],
.signupForm .inputBox input[type="text"] {
  padding-right: 30px;
}

.error {
  color: red;
  font-size: 0.8rem;
  margin-top: 0px;
}

.signupForm .inputBox .eyeIcon {
  position: absolute;
  top: 30%;
  right: 0px;
  transform: translateY(-50%);
  cursor: pointer;
  opacity: 0.4;
}

.signupForm .submitButton {
  position: relative;
  min-height: 35px;
  display: inline-block;
  color: inherit;
  padding: 10px;
  font-size: 14px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  margin-top: 10px;
  letter-spacing: 4px;
  border: none;
  outline: none;
  background: transparent;
  cursor: pointer;
  border-radius: 3px;
  background-color: var(--ui-element-hover-color);
  color: var(--ui-element-hover-font-color);
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 4px 0 rgba(0, 0, 0, 0.19);
}

.signupForm .submitButton:not(:disabled):hover {
  background: #604add;
  color: #ffffff;
  border-radius: 5px;
  box-shadow: 0 0 0px #604add, 0 0 0px #604add, 0 0 0px #604add,
    0 0 10px #604add;
}

.signupForm .submitButton:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

@media (max-width: 480px) {
  .signupForm {
    width: 380px;
  }
}

@media (max-width: 400px) {
  .signupForm {
    width: 340px;
  }
}

@media (max-width: 330px) {
  .signupForm {
    width: 260px;
  }
}

@media (max-height: 420px) {
  .signupForm {
    height: 280px;
  }
}

@media (prefers-color-scheme: dark) {
  .signupForm {
    color: var(--font-color);
    background: var(--ui-element-color);
  }

  .signupForm .loginButton {
    background-color: var(--ui-element-hover-color);
    color: var(--ui-element-hover-font-color);
  }
}
