.linkModal {
  display: flex;
  flex-direction: row-reverse;
  position: fixed;
  padding: 0px;
  border-radius: 25px;
  width: 90%;
  height: 85%;
  max-width: 640px;
  max-height: 640px;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.19);
  background-color: var(--ui-element-color);
  color: var(--font-color);
}

.linkModal .closeBtn {
  top: 0px;
  right: 0px;
  width: 50px;
  height: 50px;
  border-radius: 25px;
  position: absolute;
  text-align: center;
  padding: 4px;
  font-size: 30px;
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  z-index: 999;
  background-color: crimson;
  color: #ffffff;
  box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 8px 0 rgba(0, 0, 0, 0.19);
}

.linkForm {
  overflow-y: scroll;
  padding: 10px;
  width: 100%;
  margin-top: 10px;
}

.linkForm form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-content: flex-start;
  flex-wrap: wrap;
  padding: 8px;
}

.linkForm form label {
  font-weight: bold;
  font-size: 0.9rem;
  font-family: monospace;
  margin: 5px 5px 5px 0px;
}

.linkForm form input {
  width: 100%;
  text-align: left;
  font-size: 0.9rem;
  border-radius: 5px;
}

.linkForm form input[data-role="text-input"] {
  border-width: 0px;
  height: 33px;
  padding: 10px;
}

.linkForm form span {
  width: 100%;
  text-align: left;
  font-size: 0.9rem;
}

.linkForm form .formButtons {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}

.linkForm form button {
  border-radius: 5px;
  border-width: 0px;
  margin: 15px;
  padding: 5px 10px 3px 10px;
  font-size: 1.1rem;
  min-height: 35px;
  background-color: var(--button-bg-color);
  color: var(--button-font-color);
  cursor: pointer;
}

.linkForm form button[data-type="cancel"]:hover {
  background-color: crimson;
  color: var(--font-color-dark);
}

.linkForm form button[data-type="submit"]:hover {
  background-color: #228b22;
  color: var(--font-color-dark);
}
