@import './theme.css';

.main-component{
    background-color: var(--bg-light);
}

.main-component.light {
    background-color: var(--bg-light);
}

.main-component.dark {
    background-color: var(--bg-dark);
}

.container.light {
    background-color: var(--bg-light);
}
.container.dark {
    background-color: var(--bg-dark);
}