@import './variables.css';

/* ===== Sidebar ===== */
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    padding: 10px 14px;
}

.sidebar.light {
    background-color: var(--ui-elemnet-light);
    color: var(--font-color-light);
}

.sidebar.dark {
    background-color: var(--ui-elemnet-dark);
    color: var(--font-color-dark);
}

.sidebar header {
    position: relative;
}

/* sidebar text */
.sidebar text {
    font-size: 16px;
    font-weight: 500;
}

.sidebar .sidebar-logo {
    min-width: 60px;
    display: flex;
    align-items: center;
}

.sidebar .sidebar-image-text img {
    width: 40px;
    border-radius: 6px;
}

.sidebar header .sidebar-image-text {
    display: flex;
    align-items: center;
}

header .sidebar-image-text .sidebar-header-text {
    display: flex;
    flex-direction: column;
}

.sidebar-header-text .app-name {
    font-weight: 600;
}

.sidebar-header-text .app-version {
    margin-top: -2px;
}

.sidebar header .toggle {
    position: absolute;
    top: 50%;
    right: -25px;
    transform: translateY(-50%);
    height: 25px;
    width: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 22px;
}

.sidebar header .toggle.light {
    color: var(--font-color-dark);
    background-color: var(--ui-elemnet-dark);
}
.sidebar header .toggle.dark {
    color: var(--font-color-light);
    background-color: var(--ui-elemnet-light);
}