:root{
    /* light theme */
    --bg-light : #EEEEEE;
    --font-color-light : #555555;
    --ui-elemnet-light : #DDDDDD;
    /* dark theme */
    --bg-dark  : #292929;
    --font-color-dark : #DDDDDD;
    --ui-elemnet-dark : #333333;

    /* Transitions */
    ---tran-03: all 0.2 ease;
    ---tran-03: all 0.3 ease;
    ---tran-04: all 0.4 ease;
    ---tran-05: all 0.5 ease;
}
