.container {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 420px;
  margin-top: 30px;
  max-height: calc(95%);
  padding: 20px;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  border-radius: 10px;
  z-index: 999;
  overflow-y: scroll;
  color: var(--font-color);
  background: var(--ui-element-color);
  box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 8px 0 rgba(0, 0, 0, 0.19);
}

.title {
  text-align: left;
  border-bottom: 1px solid var(--font-color-opacity-half);
  padding-bottom: 0;
  opacity: 0.85;
}

.title h1 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.formContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 15px;
  max-width: 520px;
}

.formContainer .inputBox label {
  position: absolute;
  color: #7a66ed;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 18px;
  pointer-events: none;
  transition: 0.3s;
  letter-spacing: 2px;
  text-transform: uppercase;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
  /*  */
  text-align: left;
  /* width: 100%;
  opacity: 0.7;
  margin: 5px 7px 5px 10px; */
}

.inputBox {
  display: flex;
  position: relative;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
}

.inputBox .inputField {
  width: 100%;
  padding: 10px 0;
  font-size: 18px;
  color: inherit;
  margin-bottom: 15px;
  border: none;
  border-bottom: 1px solid #7a66ed;
  outline: none;
  background: transparent;
}

.inputBox input:not([value=""]) ~ label,
.inputBox input:focus ~ label {
  top: -20px;
  left: 0;
  font-size: 12px;
}

.inputBox .inputField[type="password"] {
  padding-right: 30px;
}

.inputBox .eyeIcon {
  position: absolute;
  top: 30%;
  right: 0px;
  transform: translateY(-50%);
  cursor: pointer;
  opacity: 0.4;
}

.buttonContainer {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
}

.resetButton {
  position: relative;
  min-height: 30px;
  display: inline-block;
  padding: 10px;
  font-size: 14px;
  text-decoration: none;
  overflow: hidden;
  margin-top: 10px;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: #604add;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  margin-right: 10px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.1);
}

.resendButton {
  background-color: var(--ui-element-hover-color);
  color: var(--ui-element-hover-font-color);
  border-radius: 5px;
  position: relative;
  min-height: 30px;
  display: inline-block;
  padding: 10px;
  font-size: 14px;
  text-decoration: none;
  overflow: hidden;
  margin-top: 10px;
  border: none;
  outline: none;
  cursor: pointer;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.1);
}

.resendButton:disabled,
.resetButton:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}


@media (max-width: 480px) {
  .container {
    width: 380px;
  }
}

@media (max-width: 400px) {
  .container {
    width: 340px;
  }
}

@media (max-width: 330px) {
  .container {
    width: 260px;
  }
}

@media (max-height: 420px) {
  .container {
    height: 280px;
  }
}