.container {
  margin: 0 auto;
  padding: 20px;
  max-width: 580px;
  width: 100%;
  text-align: center;
  background-color: var(--ui-element-color);
  color: var(--font-color);
  border: none;
  border-radius: 8px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.1);
}

.title {
  text-align: left;
  border-bottom: 1px solid var(--font-color-opacity-half);
  padding-bottom: 0;
  opacity: 0.85;
}

.title h1 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.formContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
  max-width: 520px;
}

.formContainer .inputBox label {
  text-align: left;
  width: 100%;
  opacity: 0.7;
  margin: 5px 7px 5px 10px;
}

.inputBox {
  display: flex;
  position: relative;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
}

.inputBox .inputField {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px;
  margin-bottom: 5px;
  margin-left: 10px;
  width: 100%;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.1);
}

.inputBox .inputField[type="password"] {
  padding-right: 30px;
}

.inputBox .eyeIcon {
  position: absolute;
  top: 65%;
  right: 0px;
  transform: translateY(-50%);
  cursor: pointer;
  opacity: 0.4;
}

.buttonContainer {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
}

.resetButton {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  margin-right: 10px;
  cursor: pointer;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.1);
}

.resendButton:disabled,
.resetButton:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.resendButton {
  background-color: #ccc;
  color: #333;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  cursor: pointer;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.1);
}
