@import "./variables.css";

body {
  overflow-y: scroll;
  /* height: 100vh; */
  font-family: Roboto, Helvetica, Arial, sans-serif;
}

body.light {
  background-color: var(--bg-light);
}

body.dark {
  background-color: var(--bg-dark);
}

* {
  transition: color var(---trans-theme), background-color var(---trans-theme);
}
