:root {
  /* light theme */
  --bg-light: #e9f1fa;
  --font-color-light: #020d1a;
  --ui-elemnet-light: #c8d9ec;
  --title-box-title-light: #15202b;
  --title-box-title-bg-light: #d5e1ed;
  /* hsf = Header Sidebar Footer */
  --hsf-bg-light: #192734;
  /* movie-overlay */
  --movie-modal-bg-light: rgb(255, 255, 255);
  --seasons-bg-light: rgba(255, 255, 255, 0);

  /* dark theme */
  --bg-dark: #15202b;
  --font-color-dark: #ffffff;
  --ui-elemnet-dark: #22303c;
  --title-box-title-dark: #ffffff;
  --title-box-title-bg-dark: #192734;
  /* hsf = Header Sidebar Footer */
  --hsf-bg-dark: #ffffff;
  /* movie-overlay */
  --movie-modal-bg-dark: rgb(0, 0, 0);
  --seasons-bg-dark: rgba(0, 0, 0, 0);

  /* tooltip colors */
  --tooltip-background-color: rgb(7, 52, 88);
  --tooltip-font-color: #ffffff;

  /* Transitions */
  ---trans-theme: 0.2s ease-out;
  ---tran-02: all 0.5 ease;
  ---tran-03: all 0.5 ease;
  ---tran-04: all 0.5 ease;
  ---trans-sidebar-toggle: 0.8s ease-out;
  ---trans-container-margin: 0.2s ease-in-out;
  ---hover-movies: 1s ease;
}
