.seasonList {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  width: -webkit-fill-available;
  flex-wrap: wrap;
  column-gap: 20px;
  row-gap: 20px;
  padding: 20px;
}

@media (max-width: 600px) {
  .seasonList {
    justify-content: space-around;
  }
}
