@import "assets/styles/variables.css";

.link-card {
  display: flex;
  padding: 10px;
  width: -webkit-fill-available;
  max-width: 380px;
  max-height: 620px;
  border-radius: 10px;
  margin-bottom: 10px;
  align-items: flex-start;
  overflow: hidden;
  transition: scale 0.5s ease-in-out, color 0.1s ease-in,
    background-color 0.1s ease-in;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.2), 0 2px 3px 0 rgba(0, 0, 0, 0.19);
  flex-direction: column;
  justify-content: space-between;
}

.link-card.light {
  background-color: var(--ui-elemnet-light);
  color: var(--font-color-light);
}

.link-card.dark {
  background-color: var(--ui-elemnet-dark);
  color: var(--font-color-dark);
}

.link-card ul {
  list-style: none;
  text-align: left;
  font-size: 1rem;
  margin-bottom: 0rem;
  padding-left: 1rem;
  padding-top: 0.3rem;
}

.link-card ul li {
  display: block;
  list-style-type: none;
  padding-right: 10px;
  margin-bottom: 5px;
}
.link-card ul li h6 {
  font-weight: bold;
  font-family: monospace;
  margin-bottom: 5px;
  overflow-wrap: anywhere;
  background-color: rgba(107, 42, 167, 0.897);
  color: var(--font-color-dark);
  border-radius: 5px;
  padding: 5px;
}

.link-card .content-quality {
  display: flex;
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  align-content: flex-start;
}
.link-card ul li .quality {
  margin-bottom: 5px;
  margin-right: 8px;
  font-size: 0.8rem;
  font-weight: bold;
  overflow-wrap: anywhere;
  background-color: crimson;
  color: var(--font-color-dark);
  border-radius: 5px;
  padding: 5px;
}

.link-card ul li .quality[data-quality="4K"] {
  background-color: crimson;
  color: var(--font-color-dark);
}
.link-card ul li .quality[data-quality="2K"] {
  background-color: #9400d3;
  color: var(--font-color-dark);
}

.link-card ul li .quality[data-quality="Ultra HD"] {
  background-color: #4b0082;
  color: var(--font-color-dark);
}

.link-card ul li .quality[data-quality="HD"] {
  background-color: #0000ff;
  color: var(--font-color-dark);
}

.link-card ul li .quality[data-quality="1080P"] {
  background-color: #00ff00;
  color: var(--font-color-light);
}

.link-card ul li .quality[data-quality="720P"] {
  background-color: #ff6a00;
  color: var(--font-color-light);
}

.link-card ul li .quality[data-quality="480P"] {
  background-color: #ffff00;
  color: var(--font-color-light);
}

.link-card ul li .quality[data-quality="320P"] {
  background-color: #ff0000;
  color: var(--font-color-dark);
}

/* ["1080P", "HD", "Ultra HD", "320P", "480P", "4K", "2K"] */

.link-card .action-buttons {
  display: flex;
  position: relative;
  bottom: 0px;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;
  align-content: space-around;
  width: 100%;
}

.link-card .action-buttons button {
  border-radius: 5px;
  padding: 5px;
  border-width: 0px;
  margin: 5px;
  min-width: 50px;
  min-height: 25px;
  font-weight: bold;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.link-card .action-buttons button[data-type="get"] {
  background-color: rgb(34, 139, 34);
  color: var(--font-color-dark);
}

.link-card .action-buttons button[data-type="edit"] {
  background-color: #9400d3;
  color: var(--font-color-dark);
}

.link-card .action-buttons button[data-type="delete"] {
  background-color: crimson;
  color: var(--font-color-dark);
}
