/* titles-list  */
.titlesList {
  display: flex;
  flex-direction: row;
  gap: 0px 10px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  /* padding: 0px 10px 0px 0px; */
  margin: 0;
  z-index: 0;
}
